@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap');


body{
    font-family: 'Noto Sans Mono', monospace;
    background-image: url("./city-png-33552.png");
}

#bio {
    margin-top: 8rem;
}
img.round{
    border-radius: 40%;
}
.icons{
    padding: 30px;
   
}
ion-icon {
    color: black;
    text-shadow: 30px;
    font-size: 120px;
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
  
}   